body {
  background-color: hsl(0, 0%, 5%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
}

.container {
  width: 80vw;
  height: 80vh;
  background-color: hsl(0, 0%, 10%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 5vh;
}



.input * {
  height: 5vh;
  font-weight: 600;
}

.input > button {
  height: 5.7vh;
  background-color: red;
  color: white;
  border: 0;
  font-weight: 600;
}

.task {
  width: 20vw;
  height: 7vh;
  font-size: 2vh;
  display: flex;
  background-color: red;
  margin: 2vh;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

.task * {
  font-size: 2vh;
  
}

.buttons {
  height: 100%;
}

.buttons > button {
  height: 100%;
  width: 4vw;
  margin: 0;
}